.container{
    max-width: 400px;
    margin:10vh auto 0 auto;
    
    border-radius: 10px;
    background-color:rgba(58, 63, 103, 0.937);
    color: white;
}
#display{
    text-align: right;
    height: 70px;
    line-height:70px;
    padding: 16px 8px;
    font-size: 25px;
}
.buttons{
    display:grid;
    border-bottom: 1px solid #999;
    border-left :1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 50px;

}
.buttons>div{
    border-top: 1px solid #999;
    border-right:1px solid #999; 
}
.button{
    border: 0.5px solid #999; 
    line-height: 100px;
    text-align: center;
    font-size: 25px;
     border-radius: 10px;
}


